{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .PageTitle}}
<body>

 {{template "header" .PageTitle}}
{{/* // 모달 에드 어트리뷰트랑 동일하다.*/}}
    <main>
     {{range .Blocks}}  // 홈데이터의 대한 블록
         {{template "block" .}}
{{/*     // . Blocks의 내부를 가리킨다.*/}}
     {{end}}
    </main>
{{template "footer"}}
</body>
</html>
{{end}}