{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title> {{.}} | 무가치형 코인</title>
</head>

{{ end}}