{{define "add"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "head" "Add"}}
    <body>
    {{template "header" "Add"}}
    <main>
       <form method="POST" >
           <input type="text" placeholder="data for block" name="blockData" required />
           <button type="submit" >제출</button>
       </form>
    </main>
    {{template "footer"}}
    </body>
    </html>
{{end}}